@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.users != null )
{
    <div class="mt-5">
        <h2>Users List</h2>
        <table class="table">
            <thead>
                <tr>
                    @foreach(var user in Model.users) 
                    {

                        <h1>@user.Name</h1>
                        

                    }
                    
                    <!-- Добавьте другие колонки по необходимости -->
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
}
else
{
    <p class="mt-5">No users found.</p>
}